<style>
  body {
    font-family: Arial;
  }
  * {
    box-sizing: border-box;
  }
  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #697888;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #555555;
  }
  .container {
    border-radius: 14px;
    background-color:	#f5f5f5;
    padding: 20px;
  }
</style>
